* {
  font-family: 'M+1Code Nerd Font';
  font-size: 16px;
  min-height: 30px;
}

window#waybar {
  background: transparent;
}

#workspaces {
  background-color: transparent;
  color: #0d74bd;
  margin-top: 15px;
	margin-right: 15px;
  padding-top: 1px;
  padding-left: 10px;
  padding-right: 10px;
}

#custom-nix {
  background-color: transparent;
  color: #0a60ab;
  margin-top: 15px;
	margin-right: 15px;
  padding-top: 1px;
  padding-left: 10px;
  padding-right: 10px;
}

#custom-nix {
  font-size: 20px;
	margin-left: 15px;
  color: #0a60ab;
}

#workspaces button {
  background: transparent;
  color: #0d74bd;
}

#cpu, #memory, #temperature, #disk, #clock, #backlight, #pulseaudio, #bluetooth, #network, #battery, #custom-power {
  background-color: transparent;
  color: #00ba69;
  margin-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 15px;
}

#cpu {
  color: #FFD700;
}

#memory {
  color: #008000;
}

#disk {
  color: #A8A8A8;

}

#backlight, #bluetooth {
  color: #0056A3;
  padding-right: 5px;
  margin-right: 0
}

#network {
  color: #10a140;
  padding-left: 5px;
}

#pulseaudio {
  color: #ba23d9;
  padding-left: 5px;
}

#clock {
  color: #00ba69;
}
